body {
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  outline: none;
}

.car__inner {
  width: 300px;
  position: relative;
  /* animation: move 0.8s infinite linear; */
}
.car__headlights-wrap {
  width: 42px;
  height: 42px;
  position: absolute;
  border-radius: 50%;
  top: 148px;
  transform: translate(var(--x), var(--y));
  z-index: 1;
}
.car__headlights-wrap--left {
  left: 21px;
}
.car__headlights-wrap--right {
  right: 22px;
}
.car__headlights {
  --size: 0;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #fff, transparent);
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-out, left 0s, top 0s;
  z-index: 2;
}
.car__svg {
  --opacity: 0.8;
  opacity: var(--opacity);
  transition: all 0.2s ease-out;
}

.btn {
  border-radius: 4px;
  padding: 0;
  width: 180px;
  height: 50px;
  line-height: 40px;
  background-color: hsla(163, 97%, 50%, 0.5);
  border: 0;
  color: #fff;
  margin: 20px auto 0;
  display: block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  --cut: 0.1em;
  --active: 0;
  --bg:
    radial-gradient(
      40% 50% at center 100%,
      hsl(270 calc(var(--active) * 97%) 72% / var(--active)),
      transparent
    ),
    radial-gradient(
      80% 100% at center 120%,
      hsl(260 calc(var(--active) * 97%) 70% / var(--active)),
      transparent
    ),
    hsl(260 calc(var(--active) * 97%) calc((var(--active) * 44%) + 12%));
  background: var(--bg);
  font-size: 1rem;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  padding: 0.9em 1.3em;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text horizontally */
  gap: 0.25em;
  white-space: nowrap;
  border-radius: 100px;
  position: relative;
  box-shadow:
    0 0 calc(var(--active) * 6em) calc(var(--active) * 3em) hsl(260 97% 61% / 0.75),
    0 0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%)) inset,
    0 -0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc(var(--active) * 60%)) inset;
  transition: box-shadow var(--transition), scale var(--transition), background var(--transition);
  scale: calc(1 + (var(--active) * 0.1));
}
.btn:active {
  scale: 1;
}

.btn span {
  position: relative;
  z-index: 1;
}
.btn:is(:hover, :focus-visible) path {
	-webkit-animation-name: bounce;
	        animation-name: bounce;
}
@-webkit-keyframes bounce {
	35%, 65% {
		scale: var(--scale);
	}
}

@keyframes bounce {
	35%, 65% {
		scale: var(--scale);
	}
}
.btn:before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: hsla(260, 64%, 37%, 0.5);
  transition: all 0.2s ease-out;
}
.btn:hover:before {
  width: 101%;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 3px);
  }
  40% {
    transform: translate(1px, 2px);
  }
  60% {
    transform: translate(0, 1px);
  }
  80% {
    transform: translate(1px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes move {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 3px);
  }
  40% {
    transform: translate(1px, 2px);
  }
  60% {
    transform: translate(0, 1px);
  }
  80% {
    transform: translate(1px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.link {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
}
.link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.link .fa {
  font-size: 28px;
  margin-right: 8px;
  color: #fff;
}

/* this is the new */

/* *, :after, :before {
  box-sizing: border-box;
} */
/* 
body {
  margin: 60px auto;
  text-align: center;
  background-color: #ff9295;
  transition: background-color 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
} */

/* .toggle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.toggle:before {
  content: "OFF";
  position: absolute;
  left: -56px;
  top: 30px;
  font-size: 18px;
  color: #fff;
}
.toggle:after {
  content: "ON";
  position: absolute;
  right: -46px;
  top: 30px;
  font-size: 18px;
  color: rgba(253, 15, 21, 0.31);
}
.toggle label {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #FD1015;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0px 9px 15px 0px #ef4247;
  -webkit-tap-highlight-color: transparent;
}
.toggle label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
  height: 42px;
  width: 42px;
  background-color: #fd0f14;
  border-radius: 46px;
  box-shadow: inset 0px 0px 0px 8px #fff;
}
.toggle input {
  display: none;
}
.toggle input:checked + label {
  background-color: #57de72;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0px 9px 15px 0px rgba(3, 132, 28, 0.5411764706);
}
.toggle input:checked + label:before {
  width: 10px;
  background-color: #fff;
}

.on {
  /* background-color: #6fc57c; */
/* }
.on .toggle:before {
  color: rgba(62, 160, 81, 0.89);
}
.on .toggle:after {
  color: #fff;
}
.toggle {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
} */ 

.toggle {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.toggle:before {
  content: "OFF";
  position: absolute;
  left: -36px;
  top: 16px;
  font-size: 14px;
  color: #fff;
}

.toggle:after {
  content: "ON";
  position: absolute;
  right: -26px;
  top: 16px;
  font-size: 14px;
  color: rgba(253, 15, 21, 0.31);
}

.toggle label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #FD1015;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0px 5px 10px 0px #ef4247;
  -webkit-tap-highlight-color: transparent;
}

.toggle label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
  height: 32px;
  width: 32px;
  background-color: #fd0f14;
  border-radius: 36px;
  box-shadow: inset 0px 0px 0px 6px #fff;
}

.toggle input {
  display: none;
}

.toggle input:checked + label {
  background-color: #57de72;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0px 5px 10px 0px rgba(3, 132, 28, 0.5411764706);
}

.toggle input:checked + label:before {
  width: 8px;
  background-color: #fff;
}

.on {
  /* background-color: #6fc57c; */
}

.on .toggle:before {
  color: rgba(62, 160, 81, 0.89);
}

.on .toggle:after {
  color: #fff;
}

